body {
	direction: rtl;
background: #20262E;
/* padding: 20px; */
font-family: 'Miriam Libre', sans-serif;
height: 100vh;
}
.h-90{
	height: 90vh;
}
.playing {
background: #fff;
border-radius: 4px;
text-align: center;
transition: all 0.2s;
/* margin: 0 auto; */
/* width: 100%; */
height: 100%;
}

.yellow{
background: yellow;
}
.green{
background: green;
}

.gg-copy {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1.5));
    width: 14px;
    height: 18px;
    border: 2px solid;
    margin-left: -5px;
    margin-top: -4px
  }
  .gg-copy::after,
  .gg-copy::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
  }
  .gg-copy::before {
    background:
        linear-gradient( to left,
            currentColor 5px, transparent 0)
            no-repeat right top/5px 2px,
        linear-gradient( to left,
            currentColor 5px, transparent 0)
            no-repeat left bottom/ 2px 5px;
    box-shadow: inset -4px -4px 0 -2px;
    bottom: -6px;
    right: -6px;
    width: 14px;
    height: 18px
  }
  .gg-copy::after {
    width: 6px;
    height: 2px;
    background: currentColor;
    left: 2px;
    top: 2px;
    box-shadow: 0 4px 0,0 8px 0
  }

	.gg-share {
			box-sizing: border-box;
			position: relative;
			display: block;
			transform: scale(var(--ggs,1.5));
			width: 6px;
			height: 6px;
			background: currentColor;
			border-radius: 100px;
			box-shadow:
					10px -6px 0,
					10px 6px 0
	}
	.gg-share::after,
	.gg-share::before {
			content: "";
			display: block;
			box-sizing: border-box;
			position: absolute;
			border-radius: 3px;
			width: 10px;
			height: 2px;
			background: currentColor;
			left: 2px
	}
	.gg-share::before {
			top: 0;
			transform: rotate(-35deg)
	}
	.gg-share::after {
			bottom: 0;
			transform: rotate(35deg)
	}
	.transform-left {
-moz-transform: scale(var(--ggs,1.5)) translate(-90%, 0px);
-webkit-transform: scale(var(--ggs,1.5)) translate(-90%, 0px);
-o-transform: scale(var(--ggs,1.5)) translate(-90%, 0px);
-ms-transform: scale(var(--ggs,1.5)) translate(-90%, 0px);
transform: scale(var(--ggs,1.5)) translate(-90%, 0px);
}
